@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --font-cormorant: "Cormorant Garamond", serif;
    --font-playfair: "Playfair Display", serif;
}

* {
    scroll-behavior: smooth;
}

html,
body,
#root {
    @apply relative
}

@layer base {
    body {
        @apply font-cormorant
    }
}